#main {
  border:1px solid red;
  #status {
    border:1px solid blue;
    /*width:19%;
    float:left;*/
    #statuslog {
      border: 1px solid orange;
      height: 200px;
      overflow: scroll;
    }
  }
  #screen {
    border: 1px solid green;
    width: 61%;
    /*float:left;*/
    #gridCanvas {
      border: 10px solid brown;
      display: block;
      margin:auto;
    }
  }
  #controls {
    border: 1px solid purple;
    /*width:19%;
    float:left;
    */
  }
}